---
layout: default
---
<div class="header" style="width:100%;background-color:red">
	<ul>
		<li>
			<a href="/about">about</a>
		</li>

		<li>
			<a href="/members">members</a>
		</li>

		<li>
			<a href="/projects">projects</a>
		</li>
	</ul>
</div>

<div class="content">
{{ content }}
</div>

<div class="footer">
	<div class="contact">
		<p>
			<a href="mailto:info@karota.net">info@karota.net</a>
		</p>
	</div>
	<div class="contact">
		<p>
			<a href="https://github.com/karota-project">github.com/karota-project</a><br />
		</p>
	</div>
</div>
